@charset "utf-8";
/* CSS Document */

.titulos_tablas {
	background-color:#069;
	color:#FFF;
	text-align:center;
	font-size:10px;
	font-style:normal;
}

.textos_reporte {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

.textos_informacion {
	text-align:justify;
	text-shadow:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

.textos_titulos {
	text-align:center;
	text-shadow:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
}

.decotablas {
	border-radius:10px;
	border-style:solid;
	border-color::#069;
	cursor:pointer;
}

.textos_copyright {
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#CCC;
}
